// General Btn Style 
.btn{
  background-color: #fff;
  border-radius: 0.8rem;
  font-size: 1.2rem;
  letter-spacing: 1rem;
  margin: 2rem;
  padding: 1rem 1.1rem;
  text-transform: uppercase;
}

// Primary Btn
.btn-primary{
  border: 1px #F15B55 solid;

  p{
    color: #F15B55;

    &:hover {
      color: #fff;
      transition:all 0.3s ease;
    }
  }

  &:hover{
    background-color: #F15B55;
    transition:all 0.3s ease;
  }

}

// Link Btn
.btn-link{
  background-color: none;
  border: 0 none;
  box-shadow: none;
  padding: 0;
}