// General Btn Style 
.btn{
  background-color: #fff;
  display: inline-block;
  font-size: 1.2rem;
  letter-spacing: 1rem;
  padding: 1rem 1.1rem;
  text-transform: uppercase;
}

// Primary Btn
.btn-primary{
  background-color: $salmon;
  border: transparent;
  border-radius: 1.8rem;
  margin: 3rem 0;

  span{
    color: #fff;
  }

  &:hover{
    background-color: $ligth-salom;
    transition:all 0.3s ease;
  }

}

.btn-secondary{
  background-color: #1C3D64;
  border:transparent;

  &:hover{
    background-color: #F15B55;
    transition:all 0.3s ease;

    span{
      color:white;
    }
  }
}

// Link Btn
.btn-link{
  background-color: none;
  border: 0 none;
  box-shadow: none;
  padding: 0;
}