// Containers
.full-container{
  text-align: center;
  width: 100vw;
}

.full-view {
  width: 100vw;
  height: 100vh;
}

// Container Position
.aligner{
  display: flex;
  align-items: center;
  justify-content: center
}